{% extends 'main/base.html' %}

{% block content %}

<div class="container py-5">

    <div class="card shadow">

        <div class="card-body">

            <h4 class="text-danger">
                Delete Question
            </h4>

            <p>
                Are you sure you want to delete
                this question?
            </p>

            <p>
                <strong>
                    {{ question.question_text }}
                </strong>
            </p>

            <form method="POST">

                {% csrf_token %}

                <button type="submit"
                        class="btn btn-danger">

                    Delete

                </button>

                <a href="{% url 'exam_questions' exam.id %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}