{% extends 'main/base.html' %}

{% block content %}

<div class="container py-5">

    <div class="card shadow">

        <div class="card-header">
            <h4>Edit Question</h4>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-primary">

                    Update Question

                </button>

                <a href="{% url 'exam_questions' exam.id %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}