{% extends 'main/base.html' %}

{% block content %}

<div class="container py-5">

    <div class="card shadow p-4">

        <h3 class="mb-4">
            Add Question
        </h3>

        <form method="POST">

            {% csrf_token %}

            <textarea name="question"
                      class="form-control mb-3"
                      placeholder="Question"
                      required></textarea>

            <input type="text"
                   name="option1"
                   class="form-control mb-2"
                   placeholder="Option 1"
                   required>

            <input type="text"
                   name="option2"
                   class="form-control mb-2"
                   placeholder="Option 2"
                   required>

            <input type="text"
                   name="option3"
                   class="form-control mb-2"
                   placeholder="Option 3"
                   required>

            <input type="text"
                   name="option4"
                   class="form-control mb-3"
                   placeholder="Option 4"
                   required>

            <input type="text"
                   name="correct_answer"
                   class="form-control mb-3"
                   placeholder="Correct Answer"
                   required>

            <button type="submit"
                    class="btn btn-success">

                Add Question

            </button>

        </form>

    </div>

</div>

{% endblock %}